* {
	margin:0;
	padding: 0;
}
body {
	font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体"; 
	color: #000;
	font-size: 14px;
	overflow-x: hidden !important;
	position: relative;
	font-weight:normal;
}
h1,h2,h3,h4,h5,h6,p,ul { 
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6 {
	color: #272626;
	text-transform: capitalize;
	font-weight: normal;
}
a { cursor: pointer;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: all .5s ease-out;
	   -moz-transition: all .5s ease-out;
	    -ms-transition: all .5s ease-out;
	     -o-transition: all .5s ease-out;
	        transition: all .5s ease-out;
  color:#fff;
}
a:hover,a:active,a:visited,a:focus {
	text-decoration: none;
	outline: none;
}
button {
	border: none;
	outline: none;
	box-shadow: none;
	display: block; 
	padding: 0;
}
ul {
	list-style-type: none;
}
a{
	display:inline-block;
	width:100%;
}
div{
  color:#666;
}
.flexRowBetween{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.flexRowCenter{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.flexRowaround{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}
.flex{
	display:flex;
	flex-direction:row;
	align-items:center;
}
.avoidOverflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.w710{
	width:94.8%;
	padding:0 2.6%;
}
.p40{
	padding:0 5.6%;
	width:88.8%;
}
.w100{
	width:100%;
}
.font28{
  font-size:0.28rem;
}
.font30{
  font-size:0.3rem;
}
.font32{
  font-size:0.32rem;
}
.font34{
  font-size:0.34rem;
}
.font36{
  font-size:0.36rem;
}
.font38{
  font-size:0.38rem;
}
.font40{
  font-size:0.4rem;
}
.color{
  color:#ed7101;
}
.color1{
  color: #fff;
}
.color3{
  color:#333;
}
.color6{
  color:#666;
}
.color9{
  color:#999;
}
.color5{
  color:#f2f2f2;
}
.line48{
  line-height: 0.48rem;
}
/***********navbar***********/
.navbar{
	height:1.40rem;
	width:100%;
	position:fixed;
	left:0;
	bottom:0rem;
	z-index:999;
	background:#fff;
	display:flex;
	justify-content:center;
	border-top:solid 1px #ed7101;
	align-items:center;
}
.nav_img img{
	width:0.6rem;
	height:0.6rem;
}
.navbar_item{
	width:33.3%;
	text-align:center;

}
.navbar .text{
	color:#666;
	font-size:0.34rem;
}
.navbar .this-text{
	color:#ed7100;
}

.navigator-hover {
	background:none;
	color:#00baf1;
}
.submit_info{
	margin:0.30rem auto;
	width:3.00rem;
	height:0.88rem;
	line-height:0.88rem;
	text-align:center;
	font-size:0.36rem;
	border-radius:0.50rem;
	color:#fff;
	background:#ed7101;
	border-radius:0.10rem;
}
.w750{
	width:100%;
	min-height:100%;
	background:#fff;
}
#active .text1{
	color:#ed7101;
}
/***********title***************/
.sumTxt{
  height:.50rem;
  padding-left:.30rem;
  font-size:.38rem;
  color:#333;
  font-weight:bold;
  border-left:solid 3px #ed7101;
}
/*****************确认*********************/
.confirm_bind{
  width:100%;
  height:1.2rem;
  background:#ed7101;
  line-height:1.2rem;
  font-size:.40rem;
  color:#fff;
  text-align:center;
  position:fixed;
  bottom:0;
}
/**************简历工作经历****************/
.expericence_list{
  width:100%;
  height:auto;
}
.expericence_time span{
  font-size: 0.32rem;
  display: inline-block;
}
.exper_company span{
  font-size:0.34rem;
  display: inline-block;
  line-height: 0.5rem;
}
.expericence{
  border-left:dashed 1px #e0e0e0;
  margin-left:.20rem;
  padding:0.2rem 0.3rem; }
.detail span{
  font-size:.32rem;
  margin-top:.20rem;
  color:#999;
  display: inline-block;
}
/**************简历基本信息*******************/
.sum_txt{
  height:1.1rem;
  align-items:center;
  width:100%;
  display:flex;
}
.gig{
  border:solid 1px #e0e0e0;
  border-radius:.10rem;
  position:relative;
  padding:.30rem;
}
.education{
  padding.:0rem .50rem;
  position:relative;
}
.education .add{
  position:absolute;
  top:.20rem;
  right:0;
}
.gig text{
  color:#ed7101;
  font-size:.40rem;
  margin-right:.30rem;
}
.expericence{
  border-left:dashed 1px #e0e0e0;
  padding-left:.30rem;
  padding-bottom:.30rem;
  margin-left:.20rem;
}

.phone_note{
  margin-top:.38rem;
  line-height:.48rem;
}
.phone_infor{
  margin-top:.30rem;
}
.input_before{
  width:24%;
  height:.98rem;
  line-height:.98rem;
  overflow:hidden;
  font-size:.38rem;
  color:#333; 
}
.bank_card{
  width:100%;
  height:.98rem;
}
.bank_card .resume_info{
  width:72%;
  padding:0 2%;
  height:.98rem;
  line-height:.98rem;
  font-size:.36rem;
}
.bank_card input{
  width:70%;
  padding:0 2%;
  height:1.1rem;
  line-height:1.1rem;
  font-size:.36rem;
  background: #fff;
  border:none;
  color:#686868;
}
.pencil{
  width:23%;
  text-align:right;
}
.pencil img{
  width:.34rem;
  height:.34rem;
  margin-right:.30rem;
}
.intro{
  width:94%;
  height:4.50rem;
  overflow:auto;
  background: #fff;
  color: #666;
  border-radius: 0.1rem;
  font-size: 0.22rem;
  border-radius:.10rem;
  border:solid 1px #e0e0e0;
}
.intro p{
  font-size:0.24rem;
}
.adreess_textarea{
  width:75%;
}
.adreess_textarea textarea{
  width:96%;
  height:2.20rem;
  border:solid 1px #ed7101;
  border-radius:.10rem;
  padding:2%;
}
.intro textarea{
  width:84%;
  height:100%;
  padding:0 3%;
  color:#999;
  font-size:0.3rem;
  overflow: auto;
  line-height: 0.46rem;
  border:none;
}
.input_left{
  width:2.80rem;
}
.intro .textarea{
  width:84%;
  padding:.10rem 3%;
  height:3.40rem;
  overflow:auto;
}
.intro_edit{
  width:10%;
  text-align:center;
  height:100%;
  background:#ed7101;
  align-items:center;
  display:flex;
}
.intro_edit img{
  margin:0 auto;
}
/***************简历列表********************/
.job_list{
  height:2.80rem;
  width:100%;
}
.list_left{
  width:70%;
  height:2.80rem;
}
.list_right{
  width:30%;
  height:2.80rem;
  text-align:right;
}
.job_type{
  height:25%;
  font-size:0.40rem;
  color:#333;
}
.treatment{
  height:30%;
}
.job_company{
  height:45%;
  width:100%;
}
.treatment_sort{
  height:0.44rem;
  background:#f6f6f6;
  text-align:center;
  line-height:0.44rem;
  margin-right:0.20rem;
  color:#666;
  font-size:0.28rem;
}
.company_img{
  width:16%;
  height:100%;
  align-items:center;
  display:flex;
}
.company_img img{
  width:0.70rem;
  height:0.70rem;
}
.company_introuce{
  width:84%;
  height:100%;
}
.company_name{
  height:50%;
  color:#333;
  font-size:0.38rem;
}
.send_datail{
  width:60%;
}
.send_tiem{
  color:#999;
}
.send_need{
  color:#666;
}
.payment{
  height:50%;
  color:#ed7100;
  font-size: 0.4rem;
}
.hongbao img{
  width:0.86rem;
  height:1.02rem;
}
.hongbao{
  height:50%;
  position:relative;
}
.hongbao_money{
  position:absolute;
  top:40%;
  right:10%;
  text-align:center;
  color:#fff;
}
.numner{
  width:.60rem;
  height:.60rem;
  line-height:.60rem;
  border-radius:50%;
  background:#ed7101;
  align-items:center;
  text-align:center;
  color:#fff;
  font-size:.32rem;
  float:right;
  position:absolute;
  right:0;
}
.list_img{
  width:21%;
}
.list_img .user_img{
  width:1.6rem;
  height:1.6rem;
  border-radius:50%;
  overflow:hidden;
  border:solid 1px #e0e0e0;
}
/********************tab选项卡******************/
.index_tab{
  height:1.2rem;
  line-height:1.2rem;
  width:100%;
  overflow: hidden;
}
.index_tab  .active{
  color:#ed7101;
}
.tab_item{
  width:50%;
  border-bottom:solid 1px #d9d9d9;
  text-align:center;
  font-size:0.4rem;
  color:#333;
}
.this_tab{
  border-bottom:solid 1px #ed7100;
  color:#ed7100;
}
.sort{
  height:0.98rem;
  border:solid 1px #d9d9d9;
  position:relative;
}
/***********************资产****************************/
.sum{
  height:5.78rem;
  background:#fff;
  align-items:center;
}
.sum_in{
  height:4.68rem;
  width:4.68rem;
  border-radius:50%;
  border:.1rem solid #ee720d;
  margin:0 auto;
  align-items:center;
  text-align:center;
  display:flex;
}
#sum{
  height:1.60rem;
  display:flex;
  align-items:center;
  background:#fff;
  margin-top:.20rem;
}
.sumIn{
  width:6.28rem;
  height:1rem;
  line-height:1rem;
  border-radius:.10rem;
  text-align:center;
  color:#fff;
  background:#ed7101;
  margin:0 auto;
}
.sum_txt{
  height:1rem;
  align-items:center;
  width:100%;
  display:flex;
  border-bottom:solid 1px #e0e0e0;
}
.sumTxt{
  height:.5rem;
  padding-left:.20rem;
  font-size:.38rem;
  color:#666;
  border-left:solid 2px #ed7101;
}
/***************我的*********************/
.user{
  flex-wrap:wrap;
  background:#fff;
  margin-top:.30rem;
}
.user_module{
  width:33.33%;
  height:3.00rem;
  border-top:solid 1px #e0e0e0;
  text-align:center;
}
.module_img img{
  width:.56rem;
  height:.56rem;
}
.module_img{
  height:1.8rem;
  line-height:2.28rem;
  overflow:hidden;
}
.module_text{
  font-size:.32rem;
  color:#666;
}
.banner{
  width:100%;
  height:3.78rem;
  overflow:hidden;
  position:relative;
  background:#ed7100;
}
.banner_top{
  height:.90rem;
}
.banner_top img{
  width:.41rem;
  height:.50rem;
}
.banner_bottom{
  height:1.60rem;
  margin-top: 0.5rem;
}
.user_left{
  width:76%;
  height:1.60rem;
  align-items: center;
  display: flex;
}
.user_right{
  width:24%;
  height:1.60rem;
}
.banner .user_img{
    width:1.60rem;
    height:1.60rem;
    border-radius:50%;
    overflow:hidden;
    margin:0px auto;
    border:solid 1px #fff;
}
/**************************城市选择*******************************/
.loan_jm1 {
    width: 94%;
    margin: 0 auto;
}
.loan_jm_spa1 {
    width: 39%;
    height: .80rem;
    line-height: .80rem;
    font-size: 0.36rem;
    color: #666;
    display: block;
    float: left;
}

.loan_jm_l1 {
    margin-top: .20rem;
    margin-bottom: .25rem;
    height: .60rem;
}

.wbk_srn {
    width: 57%;
    height: .80rem;
    border: 1px solid #ccc;
    background: #FFF;
    float: left;
    padding-left: 3%;
    line-height: .80rem;
    color: #ADADAD;
    font-size: 0.32rem;
    background-size: 45%;
    background-position: center;
    background: #fff;
}

.wbk_srn b {
    width: .60rem;
    height: .80rem;
    border: 1px solid #ccc;
    background: #FFF;
    float: left;
    padding-left: 3%;
    line-height: .80rem;
    color: #ADADAD;
    font-size: 0.32em;
    background-size: 45%;
}
/*城市弹层*/
.container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 9999;
    display: none;
}
.letter {
    width: 7%;
    overflow: hidden;
    line-height: .72rem;
    font-size: .36rem;
    position: fixed;
    top: 5%;
    right: .10rem;
    text-align: center;
    background:rgba(237,113,1,0.5);
}
.letter ul {
    list-style-type: none;
}
.letter ul li a {
    text-decoration: none;
    color:#666;
}
.city {
    width: 90%;
    overflow: hidden;
    padding: .30rem;
}
.city-list {
    width: 100%;
    overflow: hidden;
}
.city-list .city-letter {
    color: #6e6e6e;
    font-size: .36rem;
    display: inline-block;
    padding-top: .15rem;
    padding-bottom: 0.05rem;
    border-bottom: 1px solid #e8ecf1;
    width: 100%;
}
.city-list p {
    color: #afafaf;
    width: 95%;
    font-size: 0.32rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border-bottom: 1px solid #e8ecf1;
    cursor: pointer;
}
.UISelect {
    margin-top: 0.1rem
}
