<!DOCTYPE html>
<html lang="en">
<head>
<title>修改发布信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="华路卓">
<meta name="description" content="华路卓">
<link href="css/basic.css" rel="stylesheet"/>
<script src="js/rem.js"></script>
<script src="js/browser.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
<script src="js/jquery1.8.3.js"></script>
</head>
<body>
<style>
.choose_item{
  width:29.8%;
  height:.82rem;
  text-align:center;
  line-height:.82rem;
  font-size:.3rem;
  border:solid 1px #e0e0e0;
  border-radius:.10rem;
  margin-top:.32rem;
}
#choose{
  flex-wrap: wrap;
}
.choosed{
  color:rgb(237, 113, 1);
  border:solid 1px rgb(237, 113, 1);
}
.reward_sort{
  height:0.8rem;
  border-bottom:solid 1px #e0e0e0;
  font-size:.3rem;
  color:#666;
  width:50%;
  line-height:0.8rem;
}
.reward_money{
  flex-wrap:wrap;
}
</style>
<div id="app">
<div class="w750">
 <div class="p40">
  <div class="sum_txt flexRowBetween">
    <div class="sumTxt">基础信息</div>
  </div>
  <div class="phone_infor" >
    <div class="bank_card flexRowBetween">
      <div class="input_before">
        标题:
      </div>
      <input v-model='submitData.title'></input>
    </div>
    <div class="bank_card flexRowBetween">
      <div class="input_before">
        薪酬:
      </div>
      <input  v-model='submitData.price'></input>
    </div>
    <div class="bank_card flexRowBetween">
      <div class="input_before">
        职位:
      </div>
      <input v-model='submitData.description'></input>
    </div>
   </div>
    <div class="bank_card flexRowBetween">
      <div class="input_before">
        人数:
      </div>
      <input  v-model='submitData.stock'></input>
    </div>
    <div class="bank_card flexRowBetween">
      <div class="input_before">
        学历:
      </div>
      <input v-model='submitData.education'></input>
    </div>
    <div class="bank_card flexRowBetween">
      <div class="input_before">
        经验:
      </div>
       ‍‍<select id="pid"  data-key="experience" @change="selectChange" style="width:4.2rem;height:0.72rem;font-size:35px" > 
          <option >请选择</a> 
          <option v-for="item in labelData">{{item.title}}</option> 
        
      </select> 
    </div>
    <div class="bank_card flexRowBetween">
      <div class="input_before">
        年龄:
      </div>
      <input  v-model='submitData.age'></input>
    </div>

    <div class="bank_card flexRowBetween">
      <div class="input_before">
        转发:
      </div>
      <input  v-model='submitData.distributionOne'></input>
    </div>  

    <div class="bank_card flexRowBetween">
      <div class="input_before">
        二级转发:
      </div>
      <input  v-model='submitData.distributionTwo'></input>
    </div>  

    <div class="bank_card flexRowBetween">
      <div class="input_before">
        入职:
      </div>
      <input  v-model='submitData.distributionEntry'></input>
    </div>
   
    <div class="bank_card flexRowBetween">
      <div class="input_before">
        性别:
      </div>
      ‍‍<select id="pid" data-key="gender" @change="selectChange" style="width:4.2rem;height:0.72rem;font-size:35px"> 
          <option >请选择</a> 
          <option >男女不限</a> 
          <option >男</a> 
          <option >女</a> 
      </select> 
    </div>
    <div class="bank_card flexRowBetween" >
      <div class="input_before" style="width: 37%">
        工作地点:
      </div>
       ‍‍<select id="pid"   style="width:4.2rem;height:0.72rem;font-size:35px" > 
          <option >请选择省</a> 
          <option v-for="item in proviceData">{{item.title}}</option> 
        
      </select>  ‍‍
      <select id="pid"  data-key="address" @change="selectChange" style="width:4.2rem;height:0.72rem;font-size:35px" > 
          <option >请选择市</a> 
          <option v-for="c_item in cityData">{{c_item.title}}</option> 
        
      </select> 
    </div>
    <a  href="merchantMap.html">
    <div class="bank_card flexRowBetween">
      <div class="input_before" style="width: 37%">
        选择具体地址:
      </div>
      <div  style="width: 63%">
       
      </div>
      </a>
    </div>
    <div class="bank_card flexRowBetween">
      <div class="input_before">
        福利待遇:
      </div>
      <div class="choose_item" v-for="item in submitData.passage_array">{{item}}</div>
    </div>
</div>
</div>
<div style="height:0.96rem;line-height:0.96rem;background:#f2f2f2;width:100%;position:relative;font-size:.32rem;text-align:center;margin-top:0.2rem;">
   福利待遇可多选
   <div style="position:absolute;right:.72rem;top:0;color:#ED7101;font-size:0.3rem">完成</div>
</div>
<div class="p40">
  <div class="flexRowBetween" id="choose">
    <template v-for="item in labelDataTwo">
      <div class="choose_item" :class="[submitData.passage_array.indexOf(item.title)>=0?'choosed':'']" @click="buttonClick" >
        {{item.title}}
      </div>
    </template>
  </div>

</div>
<div style="height:0.6rem;width:100%;margin-bottom: 0.6rem;">
 
</div>
<button class="confirm_bind"   v-on:click="submit">
  支付发布
</button>
</div>
<script type="text/javascript">
            
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                proviceData:[],
                cityData:[],
                labelData:[],
                labelDataTwo:[],
                submitData:{
                  category_id:33,
                  title:'',
                  description:'',
                  gender:'',
                  education:'',
                  experience:'',
                  price:'',
                  stock:'',
                  age:'',
                  passage_array:[],
                  address:'',
                  distributionOne:'',
                  distributionTwo:'',
                  distributionEntry:'',

                },
                
                paginate: {
                    
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                },

                searchItem:{
                    
                },
                pageArray:[],
                allPages:0,
                linkPage:'',
                textArray:[],

                provice:''
            }

        },
        
        created: function () {
            
            var callback = (res)=>{
              this.getLabelData();
              this.getLabelDataTwo();
              this.getCityData();
            };
            window.base.getMerchantToken(callback);
        },

        methods:{


            getLabelData(){
              const self = this;
              const postData = {};
              postData.paginate = window.base.cloneForm(self.paginate);
              postData.searchItem = {
                thirdapp_id:2
              };
              postData.getBefore = {
                labelData:{
                  tableName:'label',
                  searchItem:{
                    title:['=',['经验筛选']],
                  },
                  middleKey:'parentid',
                  key:'id',
                  condition:'in',
                },
              };
              const callback = (res)=>{
                if(res.info.data.length>0){
                  self.labelData.push.apply(self.labelData,res.info.data);
                  console.log('labelData',self.labelData)
                }else{
                  alert('没有更多了');
                };
              };
              window.base.labelGet(postData,callback);
            },

            getCityData(){
              const self = this;
              const postData = {};
              postData.paginate = window.base.cloneForm(self.paginate);
              postData.searchItem = {
                type:7,
              };
        
              postData.order = {
                  create_time:'asc'
              }
              const callback = (res)=>{
                if(res.info.data.length>0){
                  self.proviceData.push.apply(self.proviceData,res.info.data);
                  for (var i = 0; i < res.info.data.length; i++) {
                    self.cityData.push.apply(self.cityData,res.info.data[i].child);
                  }
                  
                }else{
                  
                  alert('没有更多了');
                };
              };
              window.base.labelGet(postData,callback);
            },


            getLabelDataTwo(){
              const self = this;
              const postData = {};
              postData.paginate = window.base.cloneForm(self.paginate);
              postData.searchItem = {
                thirdapp_id:2
              };
              postData.getBefore = {
                labelData:{
                  tableName:'label',
                  searchItem:{
                    title:['=',['福利待遇']],
                  },
                  middleKey:'parentid',
                  key:'id',
                  condition:'in',
                },
              };
              const callback = (res)=>{
                if(res.info.data.length>0){
                  self.labelDataTwo.push.apply(self.labelDataTwo,res.info.data);
                
                }else{
                  alert('没有更多了');
                };
              };
              window.base.labelGet(postData,callback);
            },


            productAdd(){
              const self = this;
              const postData = {
                data:self.submitData,
                token:localStorage.getItem('merchant_token')    
              };
              const callback = (res)=>{
               if(res.solely_code==100000){       
                  alert('发布成功')
                }else{
                  alert('网络故障')
                }
              }
              window.base.productAdd(postData,callback);
            },

            selectChange(e){ 
              const self = this;
              self.submitData[window.base.getDataSet(e).key] = window.base.getSelectValue(e);
              console.log('selectChange',self.submitData);
            },

         

           


            buttonClick(e){ 
              const self = this;
              console.log(window.base.getUserToken());
              var text = window.base.getHtmlValue(e);
              
              var position = self.submitData.passage_array.indexOf(text);
              if(position>=0){
                self.submitData.passage_array.splice(position, 1); 
              }else{
                self.submitData.passage_array.push(text);
              };
              
              console.log('buttonClick',self.submitData);
            },




            submit(){
                const self = this;
                if(window.base.checkComplete(self.submitData)){
                    self.productAdd()
                }else{
                    alert('请补全信息')
                }
            },  
        }
    });
            
</script>
</body>
</html>