<!DOCTYPE html>
<html lang="en">
<head>
<title>面试邀请</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="华路卓">
<meta name="description" content="华路卓">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<link href="css/basic.css" rel="stylesheet"/>
<script src="js/rem.js"></script>
<script type="text/javascript"  src="js/jquery-2.1.4.min.js"></script>
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
</head>
<body style="background: #f2f2f2;">
<style>
.w750{
    color:#666;
    width:100%;
    min-height:100%;
    background: #f2f2f2;
}
.w710{
  height:2.62rem;
  border-bottom:solid 1px #d9d9d9;
  align-items:center;
  display:flex;
  margin-bottom:.220rem;
  background:#fff;
}
.treatment_sort{
  padding: 0.05rem 0.1rem;
}
.hongbao{
  height:44%;
  text-align:right;
  display:flex;
  align-items:center;
  position:relative;
}
.handle{
  height:2.62rem;
  width:13%;
  text-align:center;
}
.handle_top{
  height:50%;
  width:100%;
  align-items:center;
  display:flex;
  background:#ed7101;
}
.handle_bottom{
  background:#11a983;
}
.handle img{
  width:.42rem;
  height:.42rem;
  margin:0 auto;
}
a{color:#fff;}
</style>
<div id="app">
<div class="w750">
  <div class="job">
  <div class="flexRowBetween" style="height:2.62rem;overflow:hidden;width:100%;margin-bottom:.24rem;" v-for="item in mainData">
    <div style="width:87%;height:2.62rem;">
      <div class="w710">
        <div class="job_list flexRowBetween">
          <div class="list_left">
            <div class="job_type avoidOverflow">{{item.products[0]?item.products[0].snap_product.title:''}}</div>
            <div class="treatment flex" >
              <div class="treatment_sort" v-for="c_item in item.products[0].snap_product.passage_array">{{c_item}}</div>
            </div>
            <div class="job_company flexRowBetween">
              <div class="company_img">
                <img src="images/navbar2-a.png">
              </div>
              <div class="company_introuce">
                 <div class="company_name font40 avoidOverflow">华路卓咨询有限公司</div>
                 <div class="send_datail font30 flexRowBetween">
                    <div class="send_tiem">{{item.create_time}}</div>
                    <div class="send_need">{{item.products[0]?item.products[0].snap_product.address:''}}|{{item.products[0]?item.products[0].snap_product.description:''}}</div>
                 </div>
              </div>
            </div>
          </div>
          <div class="list_right">
            <div class="payment">{{item.products[0]?item.products[0].snap_product.price:''}}</div>
            <div class="hongbao">
                <div class="numner">¥{{item.products[0]?item.products[0].snap_product.distributionOne:''}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="handle">
      <div class="handle_top" :data-id="item.id" :data-num="0" @click="orderUpdate" >
        	<img src="images/interview2.png" :data-id="item.id" :data-num="0" @click="orderUpdate">
      </div>
      <div class="handle_top handle_bottom" :data-id="item.id" :data-num="1" @click="orderUpdate">
      	<img src="images/interview1.png" :data-id="item.id" :data-num="1" @click="orderUpdate"></div>
    </div>
  </div>
</div>
</div>
</div>
<script type="text/javascript">
            
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                
                mainData:[],
 
                
                paginate: {
                    
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                },

                searchItem:{
                    
                },
                pageArray:[],
                allPages:0,
                linkPage:'',

            }

        },
        
        created: function () {

          var callback = (res)=>{
            this.getMainData(); 
          };
          window.base.getUserToken(callback);
        },

        methods:{

        getMainData(isNew){
          const self = this;
          if(isNew){
              self.mainData = [];
              self.paginate = {
                  count: 0,
                  currentPage: 1,
                  pagesize: 6,
                  is_page: true,
              }
          };
          const postData = {};
          postData.paginate = window.base.cloneForm(self.paginate);
          postData.token = localStorage.getItem('user_token');
          postData.searchItem = {
              user_type:['in',[0]],
              order_step:['in',[1]]
           }
        
          const callback = (res)=>{
            if(res.info.data.length>0){
              self.mainData.push.apply(self.mainData,res.info.data);
            }else{
              alert('没有更多了')
            };
            console.log(self.mainData)
          };
          window.base.orderGet(postData,callback);
        },


        intoDetail(e) {
          var self = this;
          var art_id = window.base.getDataSet(e).id;
          window.location.href = "./indexDetail.html?id=" + art_id;
        },   


        orderUpdate(e){
          const self = this
          console.log(e)
          var num = window.base.getDataSet(e).num;
          const postData = {};
          postData.token = localStorage.getItem('user_token');
          
          postData.searchItem = {	
            id:window.base.getDataSet(e).id
          };
          if(num=='0'){
          	postData.data = {
	          order_step:2
	        }
          }else if(num=="1"){
          	postData.data = {
          		order_step:3
          	}
          }
          const callback  = (res)=>{
          	if(res.solely_code==100000){
          		alert('更新状态成功')
          	}else{
          		alert('网络故障')
          	} 
          	self.getMainData(true);
          };
          window.base.orderUpdate(postData,callback);
        },










        productGet(){
          const self = this;
          const postData = {};
          postData.token = localStorage.getItem('user_token');
          postData.searchItem = {
            id:window.base.GetRequest().id
          }

          const callback = (res)=>{
            if(res.info.data.length>0){
              self.productData = res.info.data[0]
            }
          };
          window.base.productGet(postData,callback);
        }, 

        orderDelete(e){
          const self = this;
          const postData = {};
          postData.token = localStorage.getItem('user_token');
          postData.searchItem = {
            user_type:0,
            id:window.base.getDataSet(e).id
          };
          
          const callback  = res=>{
            alert('已删除');
            self.getMainData(true);
          };
          window.base.orderDelete(postData,callback);
        },



        
           
        }
    });            
</script>
</body>
</html>