<!DOCTYPE html>
<html lang="en">
<head>
<title>基本信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="baidu-site-verification" content="z8EeuYl0nS" />
<meta name="keywords" content="华路卓">
<meta name="description" content="华路卓">
<meta name="divport" content="width=device-width, initial-scale=1">
<link href="css/basic.css" rel="stylesheet"/>
<script src="js/rem.js"></script>
<script type="text/javascript"  src="js/jquery-2.1.4.min.js"></script>
<script src="js/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/base.js" type="application/javascript"></script>
</head>
<body>
<style>
.w750{
    color:#666;
    width:100%;
    min-height:100%;
    background: #f2f2f2;
}
.info_img{
  height:3.20rem;
  display:flex;
  width:100%;
  align-items:center;
  border-bottom:solid 1px #e0e0e0;
  background:#fff;
}
.user_img{
  width:2rem;
  height:2rem;
  border-radius:50%;
  overflow:hidden;
  margin:0px auto;
  border:solid 1px #e0e0e0;
}
.infor_list{
  height:1.3rem;
}
.infor_left{
  width:22%;
}
.infor_center{
  width:63%;
  text-align:right;
    height: 100%;
}
.infor_right{
  width:15%;
  text-align: right;
}
.infor_right img{
  width:.34rem;
  height:.30rem;
}
.p40{
  background:#fff;
}
.infor_center input{
  width:100%;
  height:100%;
  border:none;
  background: #fff;
}
.code_click{
  width:30%;
  height:.60rem;
  border-radius:.10rem;
  background:#ed7100;
  text-align:center;
  color:#fff;
  line-height:.60rem;
  text-align: center;
  display: block;
}
a{color:#fff;}
</style>
<div id="app">
<div class="w750">
    <div class="info_img">
        <div class="user_img">
            <img class="user_img" src="http://thirdwx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTLicBxBs5icUzUlaSePibpqicPZO6FwKqibiaCJZkSPzibgOl9dc4Wr4TancmXJlU1ctJ5jf37ZMOFdicaf6Q/132" />
        </div>
    </div>
    <div style="height:.20rem;background:#f2f2f2;width:100%;"></div>
    <div class="p40 font38">
        <div class="infor_list flexRowBetween ">
            <div class="infor_left">
                用户名:
            </div>
            <div class="infor_center">
                <input placeholder="华路卓" class="font36" v-model='submitData.name'></input>
            </div>
            <div class="infor_right">
                <img src="images/edit.png">
            </div>
        </div>
        <div class="infor_list flexRowBetween">
            <div class="infor_left">
                性&nbsp;&nbsp;&nbsp;别:
            </div>
            <div class="infor_center">
                <input placeholder="女" class="font36" v-model='submitData.gender'></input>
            </div>
            <div class="infor_right">
                <img src="images/edit.png">
            </div>
        </div>
        <div class="infor_list flexRowBetween">
            <div class="infor_left">
                密&nbsp;&nbsp;&nbsp;码:
            </div>
            <div class="infor_center">
                <input type="password" placeholder="123456" class="font36"></input>
            </div>
            <div class="infor_right">
                <img src="images/edit.png">
            </div>
        </div>
        <div class="infor_list flexRowBetween">
            <div class="infor_left">
                手机号:
            </div>
            <div class="infor_center">
                <input placeholder="188888888888" class="font36" v-model='submitData.phone'></input>
            </div>
            <div class="infor_right">
                <img src="images/edit.png">
            </div>
        </div>
        <div class="infor_list flexRowBetween">
            <div class="infor_left">
                验证码:
            </div>
            <div class="infor_center" style="width:47%">
                <input placeholder="请输入验证码" class="font36"></input>
            </div>
            <div class="infor_right font34 code_click">
                获取验证码
            </div>
        </div>
    </div>
    <div class="confirm_bind"> 
      <div v-on:click="submit">确认修改</div> </div>
</div>
</div>
<script type="text/javascript">
            
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                
                mainData:[],
                submitData:{
                  phone:'',
                  gender:'',
                  name:''
                },
                
                paginate: {
                    
                    count: 0,
                    currentPage: 1,
                    pagesize: 6,
                    is_page: true,
                },

                searchItem:{
                    
                },
                pageArray:[],
                allPages:0,
                linkPage:'',

            }

        },
        
        created: function () {

            this.userGet()
        },

        methods:{

          userGet(){
            const self = this;
            const postData = {};
            postData.token = "6f9abbd286b4791dea3cb8699b2873f0";
            const callback = (res)=>{
              if(res.info.data.length>0){
                self.mainData = res.info.data[0];
                self.submitData.phone = self.mainData.info.phone;
                self.submitData.name = self.mainData.info.name; 
              }
            };
             window.base.userGet(postData,callback);
          },






          userInfoUpdate(){
            const self = this;
            const postData = {};
            postData.token = "6f9abbd286b4791dea3cb8699b2873f0";
            postData.data = {};
            postData.data = window.base.cloneForm(self.submitData);
            const callback = (data)=>{
              if(data.solely_code==100000){
                alert('完善成功')
                setTimeout(function(){
                  window.location.href = "./user.html";
                },300); 
              }else{
                alert('网络故障')
              };
            };
             window.base.userInfoUpdate(postData,callback);
          },
          

          

          submit(){
            const self = this;
            var phone = self.submitData.phone;
            const pass = window.base.checkComplete(self.submitData);
            if(pass){
              if(phone.trim().length != 11 || !/^1[3|4|5|6|7|8|9]\d{9}$/.test(phone)){
                alert('手机格式不正确')
              }else{    
                self.userInfoUpdate();       
              }
            }else{
              alert('请补全信息');
            };
          },  

           
        }
    });            
</script>
</body>
</html>